{% extends 'base.html' %}
{% block content %}

<h1> Sample Homepage </h1>
<input type="search" placeholder="search">
<button>Search </button>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nihil nostrum in hic fuga ducimus voluptatibus natus est voluptatum iste blanditiis accusantium porro expedita assumenda, minima unde quod tenetur eum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nihil nostrum in hic fuga ducimus voluptatibus natus est voluptatum iste blanditiis accusantium porro expedita assumenda, minima unde quod tenetur eum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nihil nostrum in hic fuga ducimus voluptatibus natus est voluptatum iste blanditiis accusantium porro expedita assumenda, minima unde quod tenetur eum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nihil nostrum in hic fuga ducimus voluptatibus natus est voluptatum iste blanditiis accusantium porro expedita assumenda, minima unde quod tenetur eum?</p>


{% endblock content %}